@import "css-reset.css";

* {
  box-sizing: border-box;
  max-width: 100vw;
}
html {
  font-family: poppins;
  font-size: 100%;
}

body {
  margin: 0;
  min-width: 100vw; 
    background-image: "img/bg.jpg"; 
    background-size: 100% 50%;
}
.title-h1 {
  font-size: 350%;
  padding: 30px; 
  margin: auto 0px;
}
.logo {
    position: relative; 
    left:1%; 
    top: 10%;
    margin: 10px;
    height: 40px;
    width: 60px; 
}  

.list-item {
    margin-left:15px;  
     
}
.nav-bar {
  background-color: #3a3633;
  position: fixed;
  z-index: 3; 
  width:100%;
}
.nav-bar-items { 
 padding-left:20px;
  color: white;
  height: 70px;
 position:relative;
  margin-right: 20px;
}
.dropdown-menu img{ 
  display:none;
} 
.dropdown {  
  width:100vw;  
  position: absolute; 
  text-align: inherit; 
  left:-30px; 
}
.dropdown a { 
  text-decoration: none;   
  color:white;  
  margin-bottom:50px; 
  z-index:2;   
  
  
}  
.dropdown a::after{ 
  content: '';
  display: block;
  width: 0; 
  padding-bottom: 2px;
  height: 2px;
  background: white;
  transition: width .3s;
} 
.dropdown a:hover::after { 
  width:100%;
}

  .list { 
      display: flex;   
      flex-direction: row;
      justify-content:flex-end;  
     align-items: flex-end;
      margin-top:-15px; 
  }  *
.bckgrnd-img {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 70%;
}

.home-text { 
  display: flex;
  position: absolute; 
  top: 30%;
 left:100px;
  height: 300px;
  width: 80vw;
  z-index: 1;
  text-align: center;
}
.home-text-sct1 { 
    display: flex; 
    justify-content: center;
  width: 50%;
  border: 4px white solid;
  text-align: center;
  padding: auto; 
  flex-wrap: wrap; 
  border-right:none;
} 
.home-text-sct2 {
    width: 50%;
    border: 4px white solid;
    text-align: center;
    padding: 10px; 
    background-color: rgba(90, 81, 81, 0.4);
    color:white; 
    border-left:none;
  }
.home-items {
    padding: 10px;
  
}
.items {
  color: white;
}
.features-sct {
  margin: 100px auto;
  display: flex;
  justify-content: space-evenly;  
  align-items: center;  
  flex-wrap:wrap;

}
.sct { 
    border: 2px solid #85858585;   
    padding: 10px;
    height: 250px;  
    width: 28vw; 
    margin: 20px; 
    text-align:center; 
    margin: auto ; 
    display:flex;
    flex-direction: column;  
} 
.sct  p { 
  color: grey;
}
.sct-title {
  font-size: 150%;
  padding-bottom: 15px;
}  
.icon-image {
  height:40px; 
  padding: 5px;
} 
.button { 
  position:relative;
  background-color:#3a3633; 
  color:white;
  padding:10px; 
  margin: auto ;  
  width: 150px;
  cursor:pointer;
}
.title-h2 {
  font-size:150%; 
  border-bottom: 1px white dotted; 
  margin-bottom: 20px;
}
.cool-text {
  height: 300px;
  background-color: #3a3633;
  margin-top: 50px;
  color: white;
  padding: 50px;
}
.glide {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(115,9,121,1) 35%, rgba(245,9,186,0.1390931372549019) 51%, rgba(0,212,255,1) 100%);
  height: 500px;
  color: white;
}
.pictures-section {
  max-width:100vw;  
}
.pct { 
  display:flex;  
  max-width: 100vw;   
  overflow: hidden !important;

 
  
}   
.pictures img{  
  z-index:1; 
  width: 33vw;  
  height:35vh;
  display:block; 
  transition: .3s ease;  

}

.pictures:hover {  
  transform: scale(1.09);   

}   
 .pictures p{ 
  display:flex; 
  position:absolute;
  align-items: center;
  justify-content: center;
  z-index:2;  
  margin-left:140px; 
  padding-top:100px;
  color:white;  
  font-size: 110%; 
  text-shadow: 1px 1px black;  
} 
.email { 
  display:flex;  
  flex-direction: column;
  justify-content: center;  
  align-items: center; 
  margin-top:100px; 
  padding:30px;
}  
.email input[type=text] { 
 margin-top: 10px;
  width: 200px; 
  height:35px; 
  border:2px #808080 solid;
 position:relative;
  border-radius:5px;
} 

.send img { 
  background-color: grey; 
  position:absolute;  
  cursor: pointer;   
  border: 5px #808080 solid; 
  left:492px;
 
}  
.checkbox { 
  display:flex; 
  padding:5px; 

}
.checkbox p { 
  padding-left:2px;
}
.about-section {   
  margin-top:40px;
  flex-direction:row; 
  display:flex; 
  justify-content: space-evenly;  
  text-align: center; 
  color: grey
} 
.about { 
  padding: 20px;
} 
.about p { 
  padding-bottom: 5px;
}




@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    margin: 0;
    min-width: 100%; 
    overflow: scroll;
  } 
 
  .bckgrnd-img {
    width: 100vw; 
    display:inline-block;
    height: 70vh; 
    margin-top:70px;
  }
  .title-h1 {
    font-size: 400%;
    padding: 10px;
  }
  .nav-bar {
    width: 100vw;
    margin: 0px;
  }

.logo {
    position: relative; 
    left:1%; 
    top: 10px;
    margin: auto;
    height: 50px;
    width: 35px;
} 

.dropdown-menu > img{
    position: relative; 
    top:-30px;
    cursor: pointer; 
    display:inline-block; 
    left: 90%; 

}    
.dropdown {   

  text-align: center;  
  position:relative; 
  height:60px; 
 

} 
.list {   
  width:100vw;
  display: flex;  
  flex-direction: column; 
  justify-content: center;  
  align-items: center;
}
.dropdown a::after{ 
  display:none;
}

.dropdown-content {   
  width:100vw;
  display: flexbox; 
  flex-direction: column; 
  background-color: #3a3633;
    position: absolute; 
    display:none;
   
}   
.list-item { 
  padding:15px 0;
 width:100vw;
 color: white;
 background-color: #3a3633;
} 

.dropdown-content a {  
;
  color:white; 
  text-decoration: none;  

} 
.list-item:hover{ 
  
  background-color:  #808080;
}
.dropdown:hover .dropdown-content { 
  display:block;
}



.features-sct {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}  
 
.sct {
  font-size:80%; 
  margin-top:20px; 
  width: 65vw; 
} 

.home-text { 
    flex-direction:column; 
    display:flex block;   
    align-items: center; 
    justify-content: center; 
   width:100%; 
   left:0px; 
   height:150px;
 
}
.home-text-sct1 {   
  border:none;  
  width:90vw; 
  position: relative; 
  padding:10px; 
 
  

}  
.home-text-sct2 {  
    border:none; 
    width:100%; 
    height:60vh;  
    margin:auto; 
    font-size: 78%;  
  

} 

.title-h1 { 
    font-size:150%;
} 

.pictures-section { 
 
  width:100vw;
   
}   
.pct { 
  display:flex; 
  flex-direction: column;  
  text-align: center;
  
} 

.pictures >img{  
  width:100vw; 
 
} 
.footer { 
 
  padding-top: 10px
} 
.email { 
  text-align:center;
margin-bottom: 5px; 
margin-top: 15px;
} 
.email input[type=text] { 
  margin: 8px auto;
  width: 200px; 
  height:37px; 
  border:2px #808080 solid;
 position:relative;
  border-radius:5px;
} 
.checkbox { 
  display:flex;   
  justify-content: center;
  width:100vw; 
} 
.checkbox p{  
  padding-left:5px;
} 
.send img { 
  background-color: grey; 
  position:absolute;  
  cursor: pointer; 
  left:290px; 
  margin-top:10px; 

  
} 
.about-section { 
    display:flex; 
    flex-direction: column; 
   justify-content: center; 
   align-items: center; 
   text-align: center; 
   margin-top:10px;
}  
.about {  
  margin-bottom: 20px;

}
}